[project]
	description = my first repository
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/alanrdavies
[access "refs/for/refs/*"]
	read = group user/alanrdavies
	push = group user/alanrdavies
	label-Code-Review = -2..+2 group user/alanrdavies
	label-Verified = -1..+1 group user/alanrdavies
	rebase = group user/alanrdavies
	removeReviewer = group user/alanrdavies
	submit = group user/alanrdavies
[access "refs/heads/*"]
	read = group user/alanrdavies
	create = group user/alanrdavies
	push = +force group user/alanrdavies
	pushMerge = group user/alanrdavies
[access "refs/tags/*"]
	push = +force group user/alanrdavies
	pushTag = group user/alanrdavies
	pushSignedTag = group user/alanrdavies
